<nav class="bg-white border-b border-gray-200 top-0 z-50 shadow-sm">
    <div class="mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
            <!-- Logo -->
            <div class="flex items-center cursor-pointer">
                <a href="">
                    <img width="48" height="48"
                        src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/external-parfume-japanese-wedding-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
                        alt="Parfumerie" class="rounded-lg" />Parfumerie
                </a>
            </div>

            <!-- Search & Profile -->
            <div class="flex gap-4 items-center">
                <div class="w-full">
                    <input type="search" placeholder="Rechercher..." 
                        class="px-4 py-2.5 bg-gray-50 border border-gray-300 rounded-lg placeholder-gray-400 focus:ring-blue-500 focus:border-transparent w-56 transition-all">
                </div>
                <button class="p-2.5 hover:bg-gray-100 rounded-lg transition-colors duration-200">
                    <img width="24" height="24"
                        src="https://img.icons8.com/external-creatype-outline-colourcreatype/64/external-account-essential-ui-v4-creatype-outline-colourcreatype.png"
                        alt="Profil" />
                </button>
            </div>
        </div>
    </div>
</nav>
