<section
    class="p-8 bg-gradient-to-br from-gray-100 to-gray-300 dark:from-[#0B0B0B] dark:via-[#111] dark:to-black min-h-screen">
    <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        @for (item of data(); track $index) {
        <div class="group relative flex flex-col items-center gap-4 p-6
                bg-white dark:bg-[#111] border border-gray-300 dark:border-[#C9A24D]/30
                rounded-2xl shadow-xl hover:shadow-[#C9A24D]/20 transition-all duration-500
                transform hover:-translate-y-1">

            <!-- Image -->
            <div class="relative w-full h-48 overflow-hidden rounded-xl bg-gray-200 dark:bg-gray-900">
                <img [src]="item.url" alt="Parfum"
                    class="w-full h-full object-contain group-hover:scale-110 transition-transform duration-700">
            </div>

            <!-- Content -->
            <p class="text-sm font-light text-gray-700 dark:text-[#C9A24D]/80 uppercase tracking-wide">{{item.marque}}
            </p>
            <p class="text-xl font-semibold text-gray-900 dark:text-[#F9F7F2]">{{item.nom}}</p>

            <!-- Price -->
            <div class="flex gap-3 items-center">
                <p class="text-sm text-gray-500 line-through dark:text-gray-400">{{item.prix}} DT</p>
                <p class="text-2xl font-bold text-[#C9A24D] dark:text-[#C9A24D]">{{item.promoPrix}} DT</p>
            </div>

            <!-- Buttons -->
            <div class="w-full flex flex-col gap-3 mt-3">
                <button (click)="modifier(item.idDoc)" class="w-full py-3 px-6 rounded-full
                bg-yellow-400 dark:bg-gradient-to-r dark:from-[#C9A24D] dark:to-[#A8842C]
                text-black dark:text-black font-semibold tracking-wide
                hover:brightness-110 active:scale-95 transition shadow-md hover:shadow-lg">
                    Modifier
                </button>
                <button (click)="Supprimer(item.idDoc)" class="w-full py-3 px-6 rounded-full
                bg-gray-200 dark:bg-gray-800 dark:text-[#F9F7F2]
                text-slate-900 font-semibold active:scale-95 transition shadow-sm hover:shadow-md">
                    Supprimer
                </button>
            </div>

        </div>
        }
    </div>
</section>